"*":
  "atom-clock":
    dateFormat: "[Quarter] Q • MM/D/YY • ddd • h:mm a"
  "atom-material-ui":
    colors:
      abaseColor: "#fbd451"
      accentColor: "#6689ff"
      genAccent: true
      paintCursor: true
      predefinedColor: "Amber"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-minify":
    jsMinifier: "UglifyJS2"
  "auto-update-packages": {}
  autosave:
    enabled: true
  "color-picker":
    automaticReplace: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "language-perl"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-python"
      "language-property-list"
      "language-ruby"
      "language-ruby-on-rails"
      "language-source"
      "language-sql"
      "language-toml"
      "language-xml"
      "welcome"
      "about"
      "background-tips"
    ]
    ignoredNames: [
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
    ]
    projectHome: "/Users/jt641v/Projects"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "FuraCode Nerd Font"
    fontSize: 11
    invisibles:
      eol: "·"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: false
  "exception-reporting":
    userId: "d95f1f20-d79b-4880-b691-2d5bc598c474"
  "fuzzy-finder":
    preserveLastSearch: true
  "ide-php":
    phpPath: "/Applications/MAMP/bin/php/php7.2.1/bin"
  "language-babel":
    autoIndentJSX: true
    emmetCSSAutocomplete: true
  "linter-eslint": {}
  "linter-sass-lint":
    noConfigDisable: true
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    decorateOnTreeView: "Files and Directories"
    showPanel: true
    showProviderName: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "php-debug":
    showWelcome: false
  "platformio-ide-terminal":
    core:
      scrollback: 10000
    style:
      defaultPanelHeight: "200px"
      fontFamily: "FuraCode Nerd Font"
      fontSize: "10"
      theme: "predawn"
    toggles: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierOptions:
      singleQuote: true
      trailingComma: "all"
    useEditorConfig: false
    useEslint: true
    useStylelint: true
  "relative-numbers": {}
  "symbol-gen": {}
  "tree-view": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
